body {
	margin: 0;
}
svg {
	width: 100%;
	height: 100%;
	max-width: 1024px;
	display: block;
	margin: 0 auto;
	padding: 0;
	outline: none;
	border: none;
}
a {
	cursor: pointer;
}
svg overflow-clip {
	float: right;
}
::-webkit-credentials-auto-fill-button {
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	right: 0;
}
::-webkit-textfield-decoration-container {
	display: none;
}
::-webkit-caps-lock-indicator {
	display: none;
}
::-webkit-credentials-auto-fill-button {
	display: none;
}
::-ms-clear {
	display: none;
}
::-ms-reveal {
	display: none;
}
